
.container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000a7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  width: 380px;
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
  color: rgb(35, 19, 19);
}
.title{
  font-size: 22px;
  font-weight: 500;
  margin: 16px 28px;
  color: rgb(174, 176, 181);

}

.divider{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 189, 108);
  font-size: 14px;
  font-weight: 600;
}
.line{
  width: 80px;
  height: 1px;
  border-radius: 10px;
  margin: 0px 10px;
  background-color: rgb(51, 71, 50);
}
.textInput{
  width: 100%;
  border: none;
  font-size: 14px;
  background-color: transparent;
  outline: none;
  color: cadetblue;
}
.loginText{
  font-size: 14px;
  font-weight: 500;
  color: rgb(133, 134, 134);
  margin: 20px 20px 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.span{
  color: rgb(63, 56, 155);
  &:hover{
    color: rgb(160, 78, 236);
  }
}
.forgetPassword{
  color: rgb(161, 171, 172);
  font-size: 13px;
  margin:  8px 26px;
  display: block;
  cursor: pointer;
  text-align: center;
  &:hover{
    color: rgb(62, 128, 169);
  }
}

